.slideshow-container {
    max-height: 800px; /* Set the maximum height */
    position: relative;
    margin: auto;
}

.slide {
    display: none;
    transition: opacity 1s ease-in-out;
}

.fade {
    opacity: 0;
}

.active {
    opacity: 1;
}